<template>
  <div>
    <b-form @submit="onSubmit">
      <h3>Weather app</h3>
      <b-form-group>
        <label for="city">City</label>
        <b-form-input
          id="city"
          v-model="city"
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
    <b-card-group>
      <b-card
          title="Amsterdam Current Weather"
          :img-src="`https://openweathermap.org/img/w/${amsterdamCurrentWeather.icon}.png`"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
      >
        <b-card-text>
          <p>Main: {{ amsterdamCurrentWeather.main }}</p>
          <p>Description: {{ amsterdamCurrentWeather.description }}</p>
          <p>Temp: {{ amsterdamCurrentWeather.temp }}</p>
        </b-card-text>
      </b-card>
      <b-card
          title="Amsterdam Tomorrow's Weather"
          :img-src="`https://openweathermap.org/img/w/${amsterdamTomorrowWeather.icon}.png`"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
      >
        <b-card-text>
          <p>Main: {{ amsterdamTomorrowWeather.main }}</p>
          <p>Description: {{ amsterdamTomorrowWeather.description }}</p>
          <p>Temp: {{ amsterdamTomorrowWeather.temp }}</p>
        </b-card-text>
      </b-card>
    </b-card-group>
    <b-card-group
      v-for="(weather, index) in weathers"
      :key="index"
    >
      <b-card
        v-if="weather.currentWeather"
        :title="`${weather.currentWeather.city} Current Weather`"
        :img-src="`https://openweathermap.org/img/w/${weather.currentWeather.icon}.png`"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <b-card-text>
          <p>Main: {{ weather.currentWeather.main }}</p>
          <p>Description: {{ weather.currentWeather.description }}</p>
          <p>Temp: {{ weather.currentWeather.temp }}</p>
        </b-card-text>
      </b-card>
      <b-card
        v-if="weather.tomorrowWeather"
        :title="`${weather.tomorrowWeather.city}  Tomorrow's Weather`"
        :img-src="`https://openweathermap.org/img/w/${weather.tomorrowWeather.icon}.png`"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <b-card-text>
          <p>Main: {{ weather.tomorrowWeather.main }}</p>
          <p>Description: {{ weather.tomorrowWeather.description }}</p>
          <p>Temp: {{ weather.tomorrowWeather.temp }}</p>
        </b-card-text>
      </b-card>
      <b-button @click="deleteWeather(weather.currentWeather.city)">Delete</b-button>
    </b-card-group>
  </div>
</template>

<script>
import axios from "axios"

export default {
  name: 'HelloWorld',
  data () {
    return {
      city: '',
      amsterdamCurrentWeather: {
        main: '',
        description: '',
        icon: '09d',
        temp: '',
      },
      amsterdamTomorrowWeather: {
        main: '',
        description: '',
        icon: '09d',
        temp: '',
      },
      weathers: [],
    }
  },
  methods: {
    async getCurrentWeather() {
      const data = await this.getCurrentWeatherData(this.city)
      return {
        city: this.city,
        main: data.weather[0].main,
        description: data.weather[0].description,
        icon: data.weather[0].icon,
        temp: data.main.temp,
      }
    },
    async getAmsterdamCurrentWeather() {
      const data = await this.getCurrentWeatherData('Amsterdam')
      this.amsterdamCurrentWeather.main = data.weather[0].main
      this.amsterdamCurrentWeather.description = data.weather[0].description
      this.amsterdamCurrentWeather.icon = data.weather[0].icon
      this.amsterdamCurrentWeather.temp = data.main.temp
    },
    async getCurrentWeatherData(city) {
      try {
        const {data} = await axios.get(`/weather`, {
          params: {
            q: city,
            appid: process.env.VUE_APP_API_KEY,
          },
        });
        return data
      } catch (e) {
        console.log('error: ', e)
      }
    },
    async getAmsterdamTomorrowWeather() {
      const weatherData = await this.getTomorrowWeatherData('Amsterdam')
      const today =  new Date()
      let tomorrow =  new Date()
      tomorrow.setDate(today.getDate() + 1)
      tomorrow.setHours(0,0, 0)
      tomorrow.setMilliseconds(0)
      const tomorrowWeather = weatherData.list.filter(data => {
        const dt_txt = new Date(data.dt_txt)
        return +dt_txt === +tomorrow
      })
      this.amsterdamTomorrowWeather.main = tomorrowWeather[0].weather[0].main
      this.amsterdamTomorrowWeather.description = tomorrowWeather[0].weather[0].description
      this.amsterdamTomorrowWeather.icon = tomorrowWeather[0].weather[0].icon
      this.amsterdamTomorrowWeather.temp = tomorrowWeather[0].main.temp
    },
    async getTomorrowWeather() {
      const weatherData = await this.getTomorrowWeatherData(this.city)
      const today =  new Date()
      let tomorrow =  new Date()
      tomorrow.setDate(today.getDate() + 1)
      tomorrow.setHours(0,0, 0)
      tomorrow.setMilliseconds(0)
      const tomorrowWeather = weatherData.list.filter(data => {
        const dt_txt = new Date(data.dt_txt)
        return +dt_txt === +tomorrow
      })

      return {
        city: this.city,
        main: tomorrowWeather[0].weather[0].main,
        description: tomorrowWeather[0].weather[0].description,
        icon: tomorrowWeather[0].weather[0].icon,
        temp: tomorrowWeather[0].main.temp,
      }
    },
    async getTomorrowWeatherData(city) {
      try {
        const {data} = await axios.get(`/forecast`, {
          params: {
            q: city,
            appid: process.env.VUE_APP_API_KEY,
          },
        });
        return data
      } catch (e) {
        console.log('error: ', e)
      }
    },
    async onSubmit() {
      event.preventDefault()
      const currentWeather = await this.getCurrentWeather()
      const tomorrowWeather = await this.getTomorrowWeather()
      this.weathers.push({
        currentWeather,
        tomorrowWeather,
      })
      this.city = ''
    },
    deleteWeather(city) {
      this.weathers = this.weathers.filter(weather => {
        return weather.currentWeather.city !== city && weather.tomorrowWeather.city !== city
      })
    },
  },
  async created() {
    await this.getAmsterdamCurrentWeather()
    await this.getAmsterdamTomorrowWeather()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 30px;
  text-align: center;
}
.card-group {
  margin: 20px 0 20px;
}
.form-group {
  margin-bottom: 10px;
}
.btn-secondary {
  max-height: 45px;
  margin: auto 10px 7px;
}
</style>
